@import "tailwindcss";

/* Light */
:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #ffffff;
}

/* Dark */
.dark {
  --bg: #0f172a;
  --text: #ffffff;
  --card: #1f2937;
}

/* Apply globally */
body {
  background-color: var(--bg);
  color: var(--text);
}